{% extends "dashboard-admin/base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{# {% block stylesheets %}{% endblock %} #}

{% block body %}
<div class="addBook">
    
</div>
<div class="listBook">
    <div class="d-flex">
    <p>En stock</p>
    <hr>
    <p>Titre</p>
    <hr>
    <p>Code ISBN</p>
    <hr>
    <p>Prix</p>
    <hr>
    <p>Auteur</p>
    <hr>
    <p>Catégories</p>
    <hr>
    <p>Description</p>

    </div>
</div>
{% endblock %}

{# {% block javascripts %}{% endblock %} #}