{% extends "dashboard-admin/base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{# {% block stylesheets %}{% endblock %} #}

{% block body %}

<main class="d-flex flex-column align-items-center">
    <div class="date pt-3 pr-2 text-right">
        <p>date du jour</p>
        <hr>
    </div>
    <div class="titre d-flex justify-content-between align-items-center">
        <p class="p-3 m-0">Gestion des livres</p>
        <button type="button" class="ajouter p-2 mr-2" title="Ajouter" data-toggle="modal" data-target="#ajouterLivre">
            <i class="p-1 fas fa-plus"></i> Ajouter un livre</button>

    </div>
    <div class="listBook">
        <div class="nom-colonne w-100 m-0 row pt-2 d-flex justify-content-around align-items-center">
            <p class="text-center m-0 py-3 col-2">En stock</p>
            <p class="text-center m-0 py-3 col-3">Titre</p>
            <p class="text-center m-0 py-3 col-3">Code ISBN</p>
            <p class="text-center m-0 py-3 col-2">Prix</p>
            <p class="text-center m-0 py-3 col-2">Options</p>
        </div>
        <section class="livres">
            <div class="livre row m-0 d-flex justify-content-between">
                <p class="m-0 col-2">14</p>
                <p class="m-0 col-3">Titre du livre</p>
                <p class="m-0 col-3">1684865168435</p>
                <p class="m-0 col-2">22.00 €</p>
                <div class="options col-2 d-flex justify-content-around">
                    {# bouton voir les détails #}
                    <button type="button" class="details btn btn-primary" data-toggle="modal" data-target="#lightboxDetails">
                        <i title="Voir les détails" class="fas fa-eye"></i>
                    </button>
                    {# bouton modifier les détails #}
                    <button type="button" class="modifier" data-toggle="modal" data-target="#lightboxEdit">
                        <i title="Modifier" class="fas fa-pen"></i>
                    </button>
                    {# supprimer le livre #}
                    <button type="button" class="effacer" data-toggle="modal" data-target="#lightboxDelete">
                        <i title="Effacer" class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </section>
    </div>

    {# lightbox détails livre #}

    <div class="modal fade" id="lightboxDetails" tabindex="-1" role="dialog" aria-labelledby="lightboxDetails"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">"Titre du livre"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Code ISBN : </strong>1684865168435</p>
                    <p><strong>Auteur : </strong>Trans Palette</p>
                    <p><strong>Prix : </strong>22.00 €</p>
                    <p><strong>Catégories : </strong>Thriller, Roman</p>
                    <p><strong>Description : </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque,
                        explicabo quod, dolorem velit voluptate recusandae itaque ea amet consequuntur corporis natus
                        fugit aperiam quis id veniam, neque quisquam facere ducimus.</p>
                    <div class="d-flex justify-content-center">
                        <div class="owl-carousel">
                            <div class="owl-item active">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                            <div class="owl-item">
                                <img src="https://placehold.it/150x250" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    {# lightbox ajouter un livre #}

    <div class="modal fade" id="lightboxEdit" tabindex="-1" role="dialog" aria-labelledby="lightboxEdit" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">"Titre du livre"</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <label class="col-4" for="isbn"><strong>Code ISBN : </strong></label>
                    <input class="col-7" name="isbn" type="text">
                    <label class="col-4" for="auteur"><strong>Auteur : </strong></label>
                    <input class="col-7" name="auteur" type="text">
                    <label class="col-4" for="prix"><strong>Prix : </strong></label>
                    <input class="col-7" name="prix" type="text">€
                    <label class="col-4" for="cat"><strong>Catégories : </strong></label>
                    <input class="col-7" name="cat" type="text">
                    <label class="col-4" for="desc"><strong>Description : </strong></label>
                    <input class="col-7" name="desc" type="text">
                    <label class="col-4" for="img"><strong>Image(s) : </strong></label>
                    <input class="col-7" name="img" type="file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    {# lightbox supprimer un livre #}

    <div class="modal fade" id="lightboxDelete" tabindex="-1" role="dialog" aria-labelledby="lightboxDelete"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Supprimer "titre du livre" ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row">
                    <p>Voulez-vous vraiment effacer "titre du livre" ?</p>
                    <div class="deleteButtons">
                        <button>
                            ANNULER
                        </button>
                        <button>
                            SUPPRIMER
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}

{# {% block javascripts %}{% endblock %} #}