{% extends "vesoul-edition/base.html.twig" %}


{% block content %}

    <div id="compte-page" class="pt-4 pb-4 d-flex">

        <nav id="menu-compte" class="col-3 align-items-start">
            <h2 class="text-center">Mon compte</h2>
            <ul>
                <a class="list active" href="{{ path('dashboard_user_informations' )}}">
                    <li>INFORMATIONS</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_addresses')}}">
                    <li>ADRESSES</li>
                </a>
                <a class="list" href="{{ path('dashboard_user_commands')}}">
                    <li>COMMANDES</li>
                </a>
            </ul>
        </nav>

        <div id="infos-compte" class="col-9 d-flex justify-content-center">

            <div class="wrapper-infos d-flex flex-column ml-3">

                <div class="d-flex sex-options">
                    <label for="homme" class="mr-5">
                        <input class="mr-2 homme control control--checkbox" type="checkbox" name="sexe" id="homme">M
                        <div class="control__indicator"></div>
                    </label>
                    <label for="femme">
                        <input class="mr-2 femme control control--checkbox" type="checkbox" name="sexe" id="femme">Mme
                        <div class="control__indicator"></div>
                    </label>
                </div>
                <div class="d-flex flex-column ">
                    <div class="d-flex justify-content-between">
                        <input type="text" placeholder="Prénom">
                        <input type="text" placeholder="Nom">
                    </div>
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Mot de passe">
                    <input type="password" placeholder="Nouveau mot de passe">
                    <input type="password" placeholder="Confirmer le nouveau mot de passe">
                    <input type="date">
                </div>
                <div class="d-flex justify-content-center align-items-end">
                    <button class="btn">Enregistrer les modifications</button>
                </div>

            </div>


        </div>

    </div>


{% endblock %}