<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <h1>Vesoul Edition</h1>
    <p>
        Articles, prix, total, tout ce qu'on peut trouver sur une facture
    </p>
</body>

</html>