#compte-page {

    display: flex;
    height: 100%;
    flex: 1;
    
    #menu-compte {
        background-color: transparent;
        color: $color-header;
        padding: 0px;
        min-height: 70vh;

        // display: flex;
        // flex: 1;

        h2 {
            background-color: white;
            margin-bottom: 0;
            font-size: 1.2em;
            font-weight: bold;
            color: $color-main;
            padding: 15px 0 15px 0;
        }

        .active {
            background-color: $color-main;
            color: white;
        }

        ul {
            list-style-type: none;
            padding: 11px 0 5px 0;
            margin-bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
        }

        .list {
            border-bottom: solid white 6px;
            width: 100%;
            height: 50px;
            display: flex;
            padding-left: 10px;
            font-weight: bold;
            font-size: 0.9em;
        }

        .list:not(.active) {
            background-color: rgba(0, 188, 212, 0.2);
            color: $color-header;
        }
        
        .list:hover {
            background-color: $color-main;
            text-decoration: none;
            color: white;
        }
        
        li {
            display: flex;
            align-items: center;
            list-style: none;
        }

    }

   

}

#infos-compte {

    min-height: 70vh;

    input {
        border: none;
        border-bottom: solid grey 2px;
        border-radius: 0px;
        // width: 250px;
        background-color: transparent;
        margin-top: 50px;
    }

    input:focus {
        outline: none;
        border-bottom: solid black 2px;
        transition: all 0.2s linear;
    }

    input:active {
        outline: none;
    }

    button {
        background-color: $color-main;
        color: white;
        width: 150px;
        height: 40px;
    }

    .wrapper-infos {
        width: 70%;
    }

}

#adresses-compte {

    padding-left: 15px;

    .delete-address {
        background-color: red;
    }
    
    .edit-address {
        background-color: $color-title;
        color: white;
    }

    .wrapper-adresses {
        width: 100%;
        margin-left: 15px;
        h3 {
            justify-self: stretch;
            color: $color-main;
            font-size: 1.5em;
            font-weight: bold;
        }
        .list-adresse {
            height: 200px;
        }

        .nouvelle-adresse {
            background-color: rgba(0, 188, 212, 0.2)
        }

        .add-address {
            border-radius: 50%;
            color: $color-main;
        }
    }

    .trash-address {
        color: white;
    }

    span {
        font-weight: bold;
    }


}

#commandes-compte {


    .table-commandes:nth-child(odd) {
        background-color: rgba(212, 212, 212, 0.6);
    }

    .col-2 {
        display: flex;
        justify-content: center;
    }

    .wrapper-commandes {
        width: 100%;
        background-color: white;
    }

    .commandes-header, .commandes-tableau {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
    }
    
    .commandes-header {

        background-color: $color-header; 
        color: white;
        font-size: 12px;        
    }
    
    .commandes-tableau {
        color: $color-text-dark;
        font-size: 16px;
    }

    .commandes-tableau div:nth-child(1) {
        color: $color-main;
        font-weight: bold;
    }

    .commandes-tableau div:nth-child(3), .commandes-tableau div:nth-child(4), .commandes-tableau div:nth-child(5) {
        font-weight: bold;
    }

    .commandes-tableau {
        button {
            background-color: $color-main;
            color: white;
        }
    }
}

.green {
    color: green;
}

.orange {
    color: rgb(238, 155, 0);
}

.title-wrapper {
    background-color : #EDEDED;
    width: 100%;
}

.title-compte {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: $color-main;
    color: white;
    font-weight: bold;
    padding-right: 15px;
    margin-bottom: 20px;
    
    h2 {
        margin-bottom: 0;
        font-size: 1.4em;
    }
}


