#compte-page {

    display: flex;

    
    #menu-compte {
        background-color: $color-header;
        color: white;
        padding: 0px;
        flex: 1;

        .active {
            background-color: $color-main;
        }

        ul {
            list-style-type: none;
            padding-left: 0px;
            margin-bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .list {
            border-bottom: solid white 2px;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
        }
        
        .list:hover {
            background-color: $color-main;
            text-decoration: none;
        }
        
        li {
            display: flex;
            align-items: center;
            color: white;
            list-style: none;
        }

    }

   

}

#infos-compte {

    input {
        border: none;
        border-bottom: solid grey 2px;
        border-radius: 0px;
        // width: 250px;
        background-color: transparent;
        margin-top: 50px;
    }

    input:focus {
        outline: none;
        border-bottom: solid black 2px;
        transition: all 0.2s linear;
    }

    input:active {
        outline: none;
    }

    button {
        background-color: $color-main;
        color: white;
        width: 150px;
        height: 40px;
    }

    .wrapper-infos {
        width: 70%;
    }

}

#adresses-compte {

    padding-left: 30px;

    .delete-address {
        background-color: red;
    }
    
    .edit-address {
        background-color: $color-main;
        color: white;
    }

    .wrapper-adresses {
        width: 90%;
    }

    .trash-address {
        color: white;
    }

    span {
        font-weight: bold;
    }



}


