#product-page {
    
    #menu-compte {
        background-color: $color-main;
        color: white;

        ul {
            list-style-type: none;
            padding-left: 0px;
            margin-bottom: 0px;
        }

        hr {
            background-color: white;
        }
    }

}
