#index {
    #filters {
        background-color: white;

        .title {
            background-color: $color-main;
            color: $color-text-light;
            height: 70px;
        }

        .price {
            #input-select,
            #input-number {
                padding: 7px;
                margin: 15px 5px 5px;
                width: 70px;
            }
        }
    }

    #sort {
        background-color: white;
        height: 70px;

        span {
            color: $color-main;
            font-weight: bold;
        }

        .custom-select {
            width: 150px;
        }
    }
    .book-card{
        background-color: white;
        width: $width-book-card;
        height: 350px;
        .photo{
            position: relative;
            .book-pic{
                width: $width-book-card;
                height: $width-book-card;
            }
            .overlay{
                display: none !important;
                position: absolute;
                top: 0;
                left: 0;
                width: $width-book-card;
                height: $width-book-card;
                background-color: rgba(10,10,10,0.4);
                opacity: 40%;
            }
        }
        .photo:hover{
            .overlay{
                display: flex !important;
                transition: 0.3s
            }
        }
       
    }
}