
html, body {
    height: 100%;
}

.content {
    height: 100vh;
}

#product-page {
    background-color: $color-container;
    height: 100%;

    .row {
        background-color: white;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 70px;
        padding-right: 70px;
    }

    #preview-section, #detail-section {
    }

    #preview-section {

        #preview-img {
            height: 500px; 
            width: 400px;
        }
        
        .preview-small {
            height: 120px; 
            width: 100px;
        }

        #preview-small-section {
            width: 400px;

            button {
                background-color: rgba(0,0,0,0);
                border: none;
            }
        }

    }

    #detail-section {

        max-width: 400px;
        padding-right: 0px;

        input[type=number] {
            width: 80px;
        }

        button {
            background-color: $color-main;
            color: white;
            width: 200px;
            height: 50px;
        }

    }

    #detail-section p:nth-child(2) {
        font-size: 1.5em;
    }

    #detail-section p:nth-child(3) {
        font-size: 1.3em;
    }
    #detail-section p:nth-child(4) {
        font-size: 1.3em;
    }
    #detail-section p:nth-child(5) {
        font-size: 1.3em;
    }


}
