#year-slider{
        padding-top:15px;
}

.range{
    -webkit-appearance: none;
    width: 50%;
    height: 15px;    
    background:
    #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.range:first-child{
    border-radius: 5px 0 0 5px;
}

.range:last-child{
    border-radius: 0 5px 5px 0;
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #EDEDED;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #EDEDED;
    cursor: pointer;
}

.range::-ms-thumb {   
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #EDEDED;
    cursor: pointer;
}