$color-main: #00BCD4;
$color-container: #EDEDED;
$color-header : #444444;
$color-footer: $color-header;
$color-title: #666666;
$color-text-light: white;
$color-text-dark: #666666;
$width-book-card: 225px;
$color-bg-clear: white;

@import "base";
@import "index";
@import "product";
@import "compte";
@import "user-connexion";
@import "panier";

