@import url('https://fonts.googleapis.com/css?family=Croissant+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

$color-main: #00BCD4;
$color-container: #EDEDED;
$color-header : #444444;
$color-footer: $color-header;
$color-title: #444444;
$color-text-light: white;
$color-text-dark: #444444;
$color-text-footer: rgb(182, 181, 181);
$width-book-card: 225px;
$color-bg-clear: white;
$font-title: 'Croissant One', cursive;
$font-secondary: 'Roboto Slab', serif;
$font-main: 'Work Sans', sans-serif;

@import "base";
@import "index";
@import "product";
@import "compte";
@import "user-connexion";
@import "panier";
@import "commande";
