{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}VesoulEdition - Commande{% endblock %}

{% block content %}
<div id="commande" class="p-3 m-0">
  <form class="row p-0 m-0" action="">
    <!-- ===> Partie Adresses =========================================== -->
    <div class="adresses m-0 p-3 col-4 d-flex flex-column">
      <div class="card p-3">
        <h2 class="m-0">Adresses</h2>
        <!-- --- Adresse de livraison --- -->
        <div class="livraison m-0 p-0 d-flex flex-column">
          <h3 class="m-0">Adresse de livraison</h3>
          <select>
            <option value="" selected>Mes adresses</option>
            <option value="domicile">Domicile</option>
            <option value="travail">Travail</option>
            <option value="pierre">Pierre</option>
          </select>
          <div class="destinataire d-flex align-items-center">
            <i class="fas fa-user"></i>
            <div class="d-flex flex-column">
              <p class="prenom">Jean-Jean</p>
              <p class="nom">Dupont</p>
            </div>
          </div>
          <div class="place d-flex align-items-center">
            <i class="fas fa-map-marker-alt"></i>
            <div class="d-flex flex-column">
              <p class="adress">2 Bis Rue du Truc</p>
              <p class="complement">Appartement 4, 3e étage</p>
              <div class="d-flex">
                <p class="cp">70000</p>
                <p class="ville">VESOUL</p>
              </div>
              <p class="pays">FRANCE</p>
            </div>
          </div>
          <div class="m-0 d-flex">
            <input type="checkbox" name="same-adress" value="yes">Utiliser la même adresse pour la facturation
            <button class="btn btn-light">Modifier</button>
          </div>
        </div>
        <!-- --- Adresse de facturation --- -->
        <div class="facturation m-0 p-0 d-flex flex-column">
          <h3 class="m-0">Adresse de facturation</h3>
          <select>
            <option value="" selected>Mes adresses</option>
            <option value="domicile">Domicile</option>
            <option value="travail">Travail</option>
            <option value="pierre">Pierre</option>
          </select>
          <div class="destinataire d-flex align-items-center">
            <i class="fas fa-user"></i>
            <div class="d-flex flex-column">
              <p class="prenom">Jean-Jean</p>
              <p class="nom">Dupont</p>
            </div>
          </div>
          <div class="place d-flex align-items-center">
            <i class="fas fa-map-marker-alt"></i>
            <div class="d-flex flex-column">
              <p class="adress">2 Bis Rue du Truc</p>
              <p class="complement">Appartement 4, 3e étage</p>
              <div class="d-flex">
                <p class="cp">70000</p>
                <p class="ville">VESOUL</p>
              </div>
              <p class="pays">FRANCE</p>
            </div>
          </div>
          <div class="m-0 d-flex justify-content-end">
            <button class="btn btn-light">Modifier</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <=== Fin Adresse ============================================= -->
    <!-- ===> Partie Informations personnelles ======================== -->
    <div class="col-4 m-0 p-3">
      <row class="info-perso m-0 p-0">
        <div class="card m-0 p-3">
          <h2 class="m-0">Informations personnelles</h2>
          <div class="d-flex">
            <div><input type="radio" name="civilite" value="mr" checked> M.</div>
            <div><input type="radio" name="civilite" value="mme"> Mme.</div>
            <div><input type="radio" name="civilite" value="mlle"> Mlle</div>
          </div>
          <p class="prenom">Jean-Jean</p>
          <p class="nom">Dupont</p>
          <div class="d-flex">
            <i class="fas fa-envelope"></i>
            <p class="mail">jeanjean.dupont@yahoo.fr</p>
          </div>
          <div class="d-flex">
            <i class="fas fa-phone"></i>
            <p class="phone">06 12 34 56 78</p>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-light">Modifier</button>
          </div>
        </div>
      </row>
      <!-- <=== Fin Informations Personnelles =========================== -->
      <!-- ===> Partie Livraison ======================================== -->
      <row class="livraison m-0 p-3">
        <div class="card m-0 p-3 d-flex flex-column">
          <h2 class="m-0">Livraison</h2>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <input type="radio" name="civilite" value="mr" checked>
              <div class="d-flex flex-column">
                <p class="m-0">Livraison Vesoul-Edition</p>
                <p class="m-0">Partout en Franch-Comté</p>
              </div>
            </div>
            <p class="m-0">Gratuite</p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <input type="radio" name="civilite" value="mr" checked>
              <div class="d-flex flex-column">
                <p class="m-0">Colissimo</p>
                <p class="m-0">En France métropolitaine</p>
              </div>
            </div>
            <p class="m-0">8,60 €</p>
          </div>
          <textarea name="delivery-instructions" placeholder="Si vous avez un message pour le livreur, laissez le ici. Merci"></textarea>
        </div>
      </row>
    </div>
    <!-- <=== Fin Livraison ============================================= -->
    <!-- ===> Partie Récapitulatif ====================================== -->
    <div class="recap m-0 p-3 col-4">
      <div class="card m-0 p-3">
        <h2 class="m-0">Récapitulatif</h2>
        <div class="items">
          <row class="item d-flex justify-content-between">
            <p>Un livre <span class="qte">x1</span></p>
            <p class="price">15,99 €</p>
          </row>
          <row class="item d-flex justify-content-between">
            <p>Un autre livre <span class="qte">x2</span></p>
            <p class="price">36,00 €</p>
          </row>
          <row class="item d-flex justify-content-between">
            <p>Encore un livre <span class="qte">x1</span></p>
            <p class="price">21,50 €</p>
          </row>
        </div>
        <row class="ss-total d-flex justify-content-between">
          <p class="m-0">Sous-Total</p>
          <p class="m-0">73,49 €</p>
        </row>
        <row class="livraison d-flex justify-content-between">
          <p class="m-0">Livraison</p>
          <p class="m-0">Gratuite</p>
        </row>
        <row class="tva d-flex justify-content-between">
          <p class="m-0">TVA</p>
          <p class="m-0">14,70 €</p>
        </row>
        <row class="total d-flex justify-content-between">
          <p class="m-0">Total</p>
          <p class="m-0">73,49 €</p>
        </row>
        <button type="submit" class="btn btn-info w-100">Commander</button>
      </div>
    </div>
    <!-- <=== Fin récapitulatif ======================================== -->
  </form>
</div>
{% endblock %}