{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}VesoulEdition - Commande{% endblock %}

{% block content %}
<div id="commande" class="p-0 m-0">
  La page commande
</div>
{% endblock %}