{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}VesoulEdition - Confirmation de commande{% endblock %}

{% block content %}
<div id="confirmation" class="p-3 m-0">
    Confirmation
</div>
{% endblock %}