{% extends 'vesoul-edition/base.html.twig' %}

{% block title %}VesoulEdition - Panier{% endblock %}

{% block content %}
<div id="panier" class="d-flex justify-content-center align-items-center">
   <p>Le panier</p>
</div>
{% endblock %}